.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: ghostwhite;
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;

  .slider {
    width: 100%;
    max-width: 1200px;
    height: 600px; 
    margin-bottom: 20px;
    margin-top: 70px;
  }
  
  .slider-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .slider-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 8px;
  }

  .slider-content {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
  .slider-heading {
    font-size: 2.8rem;
    font-weight: bold;
  }
  
  .slider-description {
    font-size: 1.6rem;
    margin-top: 20px;
  }
  
  .slider-button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
    transform: translateY(-50%);
  }
  
  .prev {
    left: 100px;
  }
  
  .next {
    right: 100px;
  }
  
  .slider-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .tagline {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 80px;
    margin-top: 10px;
    font-weight: 700;
  }
  
  .shop-now-btn {
    display: block;
    margin: 20px auto;
    background-color: rgb(87, 21, 21);
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: skyblue;
    }
  }
}
